.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/8/88/Bugcat_Capoo.jpg');
    background-size: cover;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}